.colored_base {
  --context_color_hint: var(--color-red-3);
  --context_color_interact: var(--color-red-4);

  background-color: white;
  color: var(--color-neutral-5);
}

.colored_brand-1 {
  --context_color_hint: var(--color-red-1);
  --context_color_interact: var(--color-red-2);

  background-color: var(--color-red-3);
  color: white;
}
