:root {
  /** Import string:
 * [{"name":"red","lightness":{"name":"linear","start":0,"end":1,"min":0.2,"max":0.9},"chroma":{"name":"sine","start":0.2,"end":0.8,"min":0.1,"max":0.2},"hue":{"name":"linear","start":0,"end":1,"min":23.5,"max":23.5},"count":5}]
 */

  --color-red-1: oklch(90% 0.1 23.5);
  --color-red-2: oklch(72.5% 0.1685 23.5);
  --color-red-3: oklch(55% 0.2 23.5);
  --color-red-4: oklch(37.5% 0.1685 23.5);
  --color-red-5: oklch(20% 0.1 23.5);

  /** Import string:
 * [{"name":"neutral","lightness":{"name":"linear","start":0,"end":1,"min":0.2,"max":0.9},"chroma":{"name":"sine","start":0.2,"end":0.8,"min":0,"max":0},"hue":{"name":"linear","start":0,"end":1,"min":23.5,"max":23.5},"count":5}]
 */

  --color-neutral-1: oklch(90% 0 23.5);
  --color-neutral-2: oklch(72.5% 0 23.5);
  --color-neutral-3: oklch(55% 0 23.5);
  --color-neutral-4: oklch(37.5% 0 23.5);
  --color-neutral-5: oklch(20% 0 23.5);

  /** Import string:
 * [{"name":"orange","lightness":{"name":"linear","start":0,"end":1,"min":0.2,"max":0.9},"chroma":{"name":"sine","start":0.2,"end":0.8,"min":0.1,"max":0.2},"hue":{"name":"linear","start":0,"end":1,"min":45,"max":45},"count":5}]
 */

  --color-orange-1: oklch(90% 0.1 45);
  --color-orange-2: oklch(72.5% 0.1685 45);
  --color-orange-3: oklch(55% 0.2 45);
  --color-orange-4: oklch(37.5% 0.1685 45);
  --color-orange-5: oklch(20% 0.1 45);

  /** Import string:
 * [{"name":"blue","lightness":{"name":"linear","start":0,"end":1,"min":0.2,"max":0.9},"chroma":{"name":"sine","start":0.2,"end":0.8,"min":0.1,"max":0.2},"hue":{"name":"linear","start":0,"end":1,"min":250,"max":250},"count":5}]
 */

  --color-blue-1: oklch(90% 0.1 250);
  --color-blue-2: oklch(72.5% 0.1685 250);
  --color-blue-3: oklch(55% 0.2 250);
  --color-blue-4: oklch(37.5% 0.1685 250);
  --color-blue-5: oklch(20% 0.1 250);

  /** Import string:
 * [{"name":"purple","lightness":{"name":"linear","start":0,"end":1,"min":0.2,"max":0.9},"chroma":{"name":"sine","start":0.2,"end":0.8,"min":0.1,"max":0.2},"hue":{"name":"linear","start":0,"end":1,"min":290.2,"max":290.2},"count":5}]
 */

  --color-purple-1: oklch(90% 0.1 290.2);
  --color-purple-2: oklch(72.5% 0.1685 290.2);
  --color-purple-3: oklch(55% 0.2 290.2);
  --color-purple-4: oklch(37.5% 0.1685 290.2);
  --color-purple-5: oklch(20% 0.1 290.2);
}
