.\@content\.variables,
.\@content {
  --margin_screen-borders: 1rem;
  --width_text: 32rem;
  --width_page: 48rem;
  --width_layout: 64rem;

  --margin_content_text: clamp(var(--margin_screen-borders), 100%, 50% - var(--width_text) / 2);
  --margin_content_page: clamp(var(--margin_screen-borders), 100%, 50% - var(--width_page) / 2);
  --margin_content_layout: clamp(var(--margin_screen-borders), 100%, 50% - var(--width_layout) / 2);

  --margin: var(--margin_content_layout);

  &.\+no_minimum {
    --margin_screen-borders: 0rem;
  }

  &.\+page {
    --margin: var(--margin_content_page);
  }

  &.\+text {
    --margin: var(--margin_content_text);
  }

  @media (min-width: 50rem) {
    &.\#page\+page {
      --margin: var(--margin_content_page);
    }
  }
}

.\@content {
  margin-inline: var(--margin);
}
